{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page - Ecyclopedia
{% endblock %}

{% block body %}
    <div id="new-edit" class="container">
        <form action="{% url 'new_page' %}" method="post">
            {% csrf_token %}
            <label for="title">Title</label>
            <div class="title-input">
                <input type="text" name="title" placeholder="Title" autofocus required>
            </div>
            <label for="info">Information</label>
            <div class="markdown-textarea">
                <textarea name="info" id="info" placeholder="# Title of your Page

Everything you want to write about the page where you can include:

[link name](url)

**bold text**

- list item
- another list item" required></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
{% endblock %}